$link-active-color: #fca203;
@mixin padding-left-right($value) {
 	padding-left: $value;
    padding-right: $value;
}
$work-height: 420px;
body {
	font-family: 'Raleway', sans-serif;
}

.nav-text-color {
	color: #343434;
}
ul.navbar-nav {
	li.nav-item {
		a:hover {
			color: $link-active-color !important;
		};
		a:focus {
			color: $link-active-color !important;
		};
		@include padding-left-right(12px);
	}
}
div.panel {
	width: 100%;
	height: 602px;
	margin-top: 46px;
	background-image: url('../images/panel.png');
	background-repeat: no-repeat;
}
div#work-zone {
	height: $work-height;
	margin-top: 90px;
	margin: 90px 5px 5px 5px;
	div.info {
		line-height: 1.2;
		height: $work-height;
		.title {

		}
		.super-title {
			font-size: 30px;
    		font-weight: 800;
    		color: #fca301;
		}
		.description {
			line-height: 1.6;
		}
	}
	div.image {
		height: $work-height;
		background-image: url('../images/work-background.png');
		background-repeat: no-repeat;
	}
}