body {
  font-family: 'Raleway', sans-serif; }

.nav-text-color {
  color: #343434; }

ul.navbar-nav li.nav-item {
  padding-left: 12px;
  padding-right: 12px; }
  ul.navbar-nav li.nav-item a:hover {
    color: #fca203 !important; }
  ul.navbar-nav li.nav-item a:focus {
    color: #fca203 !important; }

div.panel {
  width: 100%;
  height: 602px;
  margin-top: 46px;
  background-image: url("../images/panel.png");
  background-repeat: no-repeat; }

div#work-zone {
  height: 420px;
  margin-top: 90px;
  margin: 90px 5px 5px 5px; }
  div#work-zone div.info {
    line-height: 1.2;
    height: 420px; }
    div#work-zone div.info .super-title {
      font-size: 30px;
      font-weight: 800;
      color: #fca301; }
    div#work-zone div.info .description {
      line-height: 1.6; }
  div#work-zone div.image {
    height: 420px;
    background-image: url("../images/work-background.png");
    background-repeat: no-repeat; }
